.button {
  border-radius: 40px;
  background: #39db4a;
  outline: none;
  border: none;
  padding: 10px 32px;
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
  height: 52px;
}

.button.transparent {
  background: transparent;
  color: var(--dark-menu-color);
}

.button.reverse {
  flex-direction: row-reverse;
}

.button svg {
  display: flex;
  align-items: center;
  justify-content: center;
}
